.modal-bg {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);

  &__main {
    width: 500px;
    background: snow;
    border-radius: 25px;
    padding: 25px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    h2 {
      margin-bottom: 20px;
    }
  }
  &__mark {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    input {
      height: 30px;
      background: #c8cbbb;
      border-radius: 10px;
      padding: 0 10px;
      outline: none;
      border: none;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    textarea {
      height: 70px;
      background: #c8cbbb;
      border-radius: 10px;
      padding: 5px 10px;
      outline: none;
      border: none;
      resize: none;
    }
  }
  &__student {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    select {
      height: 20px;
      background: #c8cbbb;
      border-radius: 4px;
      outline: none;
      border: none;
    }
  }
  &__subject {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    select {
      height: 20px;
      background: #c8cbbb;
      border-radius: 4px;
      outline: none;
      border: none;
    }
  }
  &__create {
    height: 30px;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    font-size: 14px;
    background: silver;
  }
}
